workflow:
  name: Solar System NodeJs Pipeline
  rules:
     - if: $CI_COMMIT_BRANCH == 'main' || $CI_COMMIT_BRANCH =~ /^feature/
       when: always
     - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^feature/ && $CI_PIPELINE_SOURCE == 'merge_request_event'
       when: always

stages:
    - test
    - containerization

variables:
  DOCKER_USERNAME: siddharth67
  IMAGE_VERSION: $CI_PIPELINE_ID

unit_testing:
    stage: test
    image: node:22-alpine3.21
    services:
      - name: siddharth67/mongo-db:non-prod
        alias: mongo
        pull_policy: always
    variables:
      MONGO_URI: 'mongodb://mongo:27017/superData'
      MONGO_USERNAME: non-prod-user
      MONGO_PASSWORD: non-prod-password
    cache:
        policy: pull-push
        when: always
        paths:
          - node_modules
        key:
          files:
            - package-lock.json
          prefix: node_modules
    before_script:
        - npm install
    script:
        - npm test
    artifacts:
      untracked: false
      when: always
      access: all
      expire_in: 3 days
      name: Mocha-Test-Result
      paths:
        - test-results.xml
      reports:
        junit: test-results.xml

code_coverage:
    stage: test
    image: node:22-alpine3.21
    services:
      - name: siddharth67/mongo-db:non-prod
        alias: mongo
        pull_policy: always
    variables:
      MONGO_URI: 'mongodb://mongo:27017/superData'
      MONGO_USERNAME: non-prod-user
      MONGO_PASSWORD: non-prod-password
    cache:
      policy: pull-push
      when: always
      paths:
        - node_modules
      key:
        files:
          - package-lock.json
        prefix: node_modules
    before_script:
        - npm install
    script:
        - npm run coverage
    artifacts:
      untracked: false
      when: always
      access: all
      expire_in: 3 days
      name: Code-Coverage-Results
      reports:
        coverage_report:
          coverage_format: cobertura
          path: coverage/cobertura-coverage.xml
    coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
    allow_failure: true

docker_build:
  stage: containerization
  image: docker:24.0.5
  dependencies: []
  services:
    - docker:24.0.5-dind
  script:
    - docker build -t $DOCKER_USERNAME/solar-system:$IMAGE_VERSION .
    - docker images $DOCKER_USERNAME/solar-system:$IMAGE_VERSION